.App {
	text-align: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.background {
	position: absolute;
	height: 50vh;
	width: 100vw;
	z-index: -1;
}

.bg-top {
	top: 0;
	background-color: #E8CF00;
}

.bg-bottom {
	bottom: 0;
}

.body {
	position: relative;
	color: #E8CF00;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #1D1D1D;
	/* height: 20%;
	width: 20%; */
	box-shadow: 0 0 20px 2px black;
	padding: 50px;
}

.order {
	background: transparent;
	color: white;
	text-align: center;
}

input:focus {
	outline: none;
}

.value {
	background: transparent;
	color: white;
	text-align: center;
	width: 100px;
	height: 40px;
	border: none;
	border-bottom: 2px solid #E8CF00;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

table{
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: #1D1D1D;
	color: #E8CF00;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: #1D1D1D;
	color: #E8CF00;
	padding-top: 10px;
	padding-bottom: 10px;
}